h1 {
  color: red;
}
h1{<link rel="preconnect" href="https://fonts.googleapis.com"></link>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin></link>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet"></link}

p {
  font-size: 30px;
}
body {
  background-color: rgb(56, 164, 214);
}
a {
  font-size: 20px;
}
